<p>
  My favorite way to spend the day is…
If I could talk to my teenage self, the one thing I would say is…
The two moments I’ll never forget in my life are… Describe them in great detail, and what makes them so unforgettable.
Make a list of 30 things that make you smile.
“Write about a moment experienced through your body. Making love, making breakfast, going to a party, having a fight, an experience you’ve had or you imagine for your character. Leave out thought and emotion, and let all information be conveyed through the body and senses.” (A prompt from Barbara Abercrombie’s creative book Kicking In The Wall: A Year of Writing Exercises, Prompts and Quotes To Help You Break Through Your Blocks And Reach Your Writing Goals.)
The words I’d like to live by are…
I couldn’t imagine living without…
When I’m in pain — physical or emotional — the kindest thing I can do for myself is…
Make a list of the people in your life who genuinely support you, and who you can genuinely trust. (Then make time to hang out with them.)
What does unconditional love look like for you?
What would you do if you loved yourself unconditionally? How can you act on these things whether you do or don’t?
I really wish others knew this about me…
Name what is enough for you.
If my body could talk, it would say…
Name a compassionate way you’ve supported a friend recently. Then write down how you can do the same for yourself.
What do you love about life?
What always brings tears to your eyes? (As Paulo Coelho has said, “Tears are words that need to be written.”)
“Write about a time when work felt real to you, necessary and satisfying. Paid or unpaid, professional or domestic, physical or mental.” (Also a prompt from Abercrombie’s Kicking in the Wall.)
Write about your first love — whether a person, place or thing.
Using 10 words, describe yourself.
What’s surprised you the most about your life or life in general?
What can you learn from your biggest mistakes?
I feel most energized when…
“Write a list of questions to which you urgently need answers.” (This is probably my favorite prompt from Abercrombie’s book.)
Make a list of everything that inspires you — from books to websites to quotes to people to paintings to stores to the stars.
What’s one topic you need to learn more about to help you live a more fulfilling life? (Then learn about it.)
I feel happiest in my skin when…
Make a list of everything you’d like to say no to.
Make a list of everything you’d like to say yes to.
Write the words you need to hear.
</p>
