<div layout="rows" layout-wrap>
  <h3> Please add some thoughts about how today went.</h3>
<br />
<p>
  If you need some ideas, try thinking about <br /> croissant ice cream fruitcake. Chocolate bar cupcake croissant danish gingerbread chupa chups. Gummies sugar plum sweet roll pastry candy canes.
</p>
<md-input-container>
  <div flex layout-fill>


<label>Journaling</label>
<textarea name="journaling" ng-model="journalingText" rows="10">
</textarea>

</md-input-container>
  </div>


</div>



<div flex>
    <div flex="66">
        <a href="/newEntry/review-and-submit">
            <md-button class="md-raised md-primary md-hue-3"> Next </md-button>
        </a>
    </div>
    <div flex="33">
        <a href="/newEntry/dbt-skills">
            <md-button class="md-raised md-primary md-hue-3">Back</md-button>
        </a>
    </div>
</div>
