<div layout="rows" layout-wrap>
  <h3> Please add some thoughts about how today went.</h3>
<br />

  <md-button ng-click="showAlert()" class="md-raised md-accent">
      If you need some ideas, click here!
  </md-button>
<md-input-container layout="column" style="width:75%">
  <div flex>


<label>Journaling</label>
<textarea name="journaling" ng-model="entryObject.journaling" rows="7" layout-fill>
</textarea>

</md-input-container>
  </div>


</div>



<div flex>
    <div flex="66">
        <a href="/newEntry/review-and-submit">
            <md-button class="md-raised md-primary md-hue-3" ng-click="journalingSubmit()"> Next </md-button>
        </a>
    </div>
    <div flex="33">
        <a href="/newEntry/dbt-skills">
            <md-button class="md-raised md-primary md-hue-3">Back</md-button>
        </a>
    </div>
</div>
