<div layout="column">
  <md-content>
    <h3> Are you ready to submit today's diary entry?</h3>
    </md-content>
    <br />
    <div>


        <h3> Here is your current entry:</h3>
        <p>
            Today's Date: {{entryObject.date | amDateFormat:'dddd, MMMM Do YYYY'}}
            <br /> Did you have any urges today?
            <br /> {{entryObject.urges}} If so, what were those urges:
            <p ng-repeat="urge in entryObject.whatUrges">
              {{urge}}
            </p>
            <p>
            <br /> Here are your emotion levels for today:
            <br /> {{entryObject.emotion1.emotionObject.emotion}}
            <br /> {{entryObject.emotion1.emotionObject.intensity}}
            <br /> {{entryObject.emotion2.emotionObject.emotion}}
            <br /> {{entryObject.emotion2.emotionObject.intensity}}
            <br /> {{entryObject.emotion3.emotionObject.emotion}}
            <br /> {{entryObject.emotion3.emotionObject.intensity}}
            <br /> {{entryObject.emotion4.emotionObject.emotion}}
            <br /> {{entryObject.emotion4.emotionObject.intensity}}
            <br /> {{entryObject.emotion5.emotionObject.emotion}}
            <br /> {{entryObject.emotion5.emotionObject.intensity}}
            <br /> {{entryObject.emotion6.emotionObject.emotion}}
            <br /> {{entryObject.emotion6.emotionObject.intensity}}
            <br /> Here are the prescription and/or over-the-counter drugs that you took today:
            <p ng-repeat="drug in drugs">
              {{drug}}
            </p>
            <p>
            <br /> Did you use any DBT skills today: {{entryObject.dbtSkills}}
            <br /> If so, what skills did you use:
            <p ng-repeat="skill in entryObject.skillsUsed">
            <br /> {{skill}}
          </p>
          <p>
            <br /> Here is your journal entry for today:
            <br /> {{entryObject.journaling}}
            <br />
        </p>
    </div>
    <div flex>
        <div flex="66">
            <a href="/successSubmit">
                <md-button class="md-raised md-primary md-hue-3" ng-click="finalSubmit()"> Ready to submit! </md-button>
            </a>
        </div>
        <div flex="33">
            <a href="/newEntry/journaling">
                <md-button class="md-raised md-primary md-hue-3">I need to change something!</md-button>
            </a>
        </div>
    </div>

</div>
