<div layout="rows">
  <h3> Are you ready to submit today's diary entry?</h3>
  <h3> Here is your current entry:</h3>
  <p>
    Today's Date: {{entryObject.date}}
    Did you have any urges today?  {{entryObject.urges}}
    If so, what were those urges:
      {{entryObject.whatUrges.whatUrges1}}
      {{entryObject.whatUrges.whatUrges2}}
      {{entryObject.whatUrges.whatUrges3}}
    Here are your emotion levels for today:
    {{entryObject.emotion1.emotion}}
    {{entryObject.emotion1.intensity}}

    {{entryObject.emotion2.emotion}}
    {{entryObject.emotion2.intensity}}

    {{entryObject.emotion3.emotion}}
    {{entryObject.emotion3.intensity}}

    {{entryObject.emotion4.emotion}}
    {{entryObject.emotion4.intensity}}

    {{entryObject.emotion5.emotion}}
    {{entryObject.emotion5.intensity}}

    {{entryObject.emotion6.emotion}}
    {{entryObject.emotion6.intensity}}

    Here are the prescription and/or over-the-counter drugs that you took today:


    Did you use any DBT skills today: {{entryObject.dbtSkills}}
    If so, what skills did you use:
    {{entryObject.skillsUsed}}

    Here is your journal entry for today:
    {{entryObject.journaling}}


  </p>
</div>
