<hc-chart options="chartOptions"></hc-chart>
<div layout="column" flex=66>

<md-content layout="column" flex>
  <md-card class="md-whiteframe-20dp">
<div id="container">

</div>
</md-card>
</md-content>


<md-content layout="column" flex>
  <md-card class="md-whiteframe-20dp">
<div id="anger">

</div>
</md-card>
</md-content>


<md-content layout="column" flex>
  <md-card class="md-whiteframe-20dp">
<div id="shame">

</div>
</md-card>
</md-content>

<md-content layout="column" flex>
  <md-card class="md-whiteframe-20dp">
<div id="joy">

</div>
</md-card>
</md-content>

<md-content layout="column" flex>
  <md-card class="md-whiteframe-20dp">
<div id="pain">

</div>
</md-card>
</md-content>

<md-content layout="column" flex>
  <md-card class="md-whiteframe-20dp">
<div id="fear">

</div>
</md-card>
</md-content>
</div>
  <md-content layout="column" flex>
    <md-card class="md-whiteframe-20dp">
  <div id="dbtSkills">

  </div>
  </md-card>
  </md-content>

</div>
