<md-content class="md-3-line">
  <h1> We will get through this. <br /> <br />
  If you are feeling suicidal, please call 911.
  <img src="../assets/images/breathing_gif.gif" /></h1>

<h3> Crisis Services
<br />
<md-card>
  <md-card-header>

<img src="../assets/images/nationalsuicideprevention.png" class="md-card-image" style="width:400px;" />
</md-card-header>
<md-card-title-text>
  <span class="md-headline">24/7 Crisis Hotline: National Suicide Prevention Lifeline Network
</span>
</md-card-title-text>
<md-card-content>
  <p>

  <a href="http://www.suicidepreventionlifeline.org">Website</a> <br />
<a href="http://crisischat.org/">Crisis Chat Service</a> <br />
Crisis Text Line
<em>Text "start" to 741-741</em>
</p>
</md-card-content>
</md-card>
<br />
Veteran Crisis Line
<em>Send a text to 828255</em>
<br />
<br />
<a href="https://www.imalive.org/">IM ALIVE</a>
<br /> An online crisis network mantained by volunteers trained in crisis intervention.
<br />
<br />
<h3><a href="http://www.walkin.org/">Walk-In Counseling in Minnesota</a></h3>
<br /> <br />
  <p>
    Need-based walk in clinics in the Twin Cities area for in-person counseling and resources.
  </p>
<br /> <br />
<br /> <br />

<h3><a href="https://www.211unitedway.org/">United Way Resources</a></h3>
<br /> <br />
<p>
  A resource center for all kinds of needs; from alcohol or drug abuse assistance, to food shelves, to legal assistance and more.
</p>


</h3>
</md-content>



<!-- <md-card>
       <md-card-header>
         <md-card-avatar>
           <img src="img/logo.svg"/>
         </md-card-avatar>
         <md-card-header-text>
           <span class="md-title">Angular</span>
           <span class="md-subhead">Material</span>
         </md-card-header-text>
       </md-card-header>
       <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Card header</span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
       </md-card-content>
     </md-card> -->
