<div layout="column" ng-cloak class="md-whiteframe-20dp">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools position">
      If you need help right now, please call 911.
    </div>
  </md-toolbar>
  <md-toolbar class="md-accent md-hue-3">
    <div class="md-toolbar-tools position">
      We will get through this.
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <md-card class="md-whiteframe-20dp">
    <md-card-title-text layout-align="center center">
      <span class="md-headline">First, please take a few deep breaths to this image.
      </span>
    </md-card-title-text>
    <md-card-content layout-align="center center">
      <p>
        <img src="../assets/images/breathing_gif_noborder.gif" />

    </p>
    </md-card-content>
    </md-card>

<br />
<br />


    <md-card class="md-whiteframe-20dp">
      <md-card-header>

    <img src="../assets/images/nationalsuicideprevention.png" class="md-card-image" style="width:400px;" />
    </md-card-header>
    <md-card-title-text>
      <span class="md-headline">24/7 Crisis Hotline: National Suicide Prevention Lifeline Network
      </span>
      <br />
      <span class="md-subhead">Available by phone, website, online anonymous chat service, and SMS service</span>

    </md-card-title-text>
    <md-card-content>
      <p>

      <a href="http://www.suicidepreventionlifeline.org">Website</a> <br />
    <a href="http://crisischat.org/">Crisis Chat Service</a> <br />

    Crisis Text Line
    <em>Text "start" to 741-741</em>
    </p>
    </md-card-content>
    </md-card>
<br />
<br />

    <md-card class="md-whiteframe-20dp">
      <md-card-header>

    <img src="../assets/images/VeteransCrisisLineLogo.png" class="md-card-image" style="width:400px;" />
    </md-card-header>
    <md-card-title-text>
      <span class="md-headline">Veterans Crisis Line
      </span>
      <br />
      <span class="md-subhead">Available by phone, website, online anonymous chat service, and SMS service</span>

    </md-card-title-text>
    <md-card-content>
      <p>

      <a href="https://www.veteranscrisisline.net/">Website</a> <br />
    <a href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat">Veterans Chat</a> <br />

      Veterans Text Line
    <em>Send a text to 838255 to get help now</em>
    </p>
    </md-card-content>
    </md-card>
<br />
<br />

    <md-card class="md-whiteframe-20dp">
      <md-card-header>
    <img src="../assets/images/imalive.png" class="md-card-image" style="width:400px;" />
    </md-card-header>
    <md-card-title-text>
      <span class="md-headline">IM ALIVE Online Crisis Network
      </span>
      <br />
      <span class="md-subhead">Anonymous online network staffed by volunteers who are trained and certified in crisis intervention.</span>

    </md-card-title-text>
    <md-card-content>
      <p>

      <a href="https://www.imalive.org/">Website</a> <br />
    <a href="https://www.imalive.org/chat.php">I'm Alive Chat</a> <br />
    </p>
    </md-card-content>
    </md-card>

<br />
<br />

    <md-card class="md-whiteframe-20dp">
      <md-card-header>
    <img src="../assets/images/211unitedway.png" class="md-card-image" style="width:600px;" />
    </md-card-header>
    <md-card-title-text>
      <span class="md-headline">United Way Minnesota 2-1-1 Services
      </span>
      <br />
      <span class="md-subhead"> Find local resources of all kinds in times of need.</span>

    </md-card-title-text>
    <md-card-content>
      <p>
        Use their website to find resources near your location. They have listings from drug/alcohol abuse to community health centers, financial assistance to legal assistance.
      <a href="https://www.211unitedway.org/">Website</a> <br />
      Call 2-1-1 to get access to the same resources. 24/7, all languages, and confidential.
    </p>
    </md-card-content>
    </md-card>


<br />
<br />


    <md-card class="md-whiteframe-20dp">
      <md-card-header>
    <img src="../assets/images/walkincounseling.gif" class="md-card-image" style="width:200px;" />
    </md-card-header>
    <md-card-title-text>
      <span class="md-headline">Walk In Counseling Centers- Minnesota
      </span>
      <br />
      <span class="md-subhead">Resource to find free walk-in counseling centers in the Twin Cities.</span>

    </md-card-title-text>
    <md-card-content>
      <p>

      <a href="http://www.walkin.org/">Website</a> <br />
    </p>
    </md-card-content>
    </md-card>



</md-content>






<!--


<md-content class="md-3-line">
    <h1> We will get through this. <br /> <br />
  If you are feeling suicidal, please call 911.
  <img src="../assets/images/breathing_gif.gif" /></h1>

    <h3> Crisis Services
<br />
<
<br />
Veteran Crisis Line
<em>Send a text to 828255</em>
<br />
<br />
<a href="https://www.imalive.org/">IM ALIVE</a>
<br /> An online crisis network mantained by volunteers trained in crisis intervention.
<br />
<br />
<h3><a href="http://www.walkin.org/">Walk-In Counseling in Minnesota</a></h3>
    <br />
    <br />
    <p>
        Need-based walk in clinics in the Twin Cities area for in-person counseling and resources.
    </p>
    <br />
    <br />
    <br />
    <br />

    <h3><a href="https://www.211unitedway.org/">United Way Resources</a></h3>
    <br />
    <br />
    <p>
        A resource center for all kinds of needs; from alcohol or drug abuse assistance, to food shelves, to legal assistance and more.
    </p>


    </h3>
</md-content>
 -->


<!-- <md-card>
       <md-card-header>
         <md-card-avatar>
           <img src="img/logo.svg"/>
         </md-card-avatar>
         <md-card-header-text>
           <span class="md-title">Angular</span>
           <span class="md-subhead">Material</span>
         </md-card-header-text>
       </md-card-header>
       <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Card header</span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           The titles of Washed Out's breakthrough song and the first single from Paracosm share the
           two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
         </p>
       </md-card-content>
     </md-card> -->
