<p>
  Sorry, that username and/or password was incorrect! Please try again!
</p>
<md-input-container>
    <label>Username</label>
    <input type="text" name="username" id="username" ng-model="username" />
</md-input-container>
<md-input-container>
    <label>Password</label>

    <input type="password" name="password" id="password" ng-model="password"/>
    <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
</md-input-container>

<div flex>
    <a href="/register">
        <md-button class="md-raised md-primary">Register</md-button>
    </a>
</div>
